<div id="nav-bar">
    <form action="/" method="get">
        <button class="nav-bar-item" type="submit" formmethod="get">Home</button>
    </form>

    <form action="/create" method="get">
        <button class="nav-bar-item" type="submit" formmethod="get">Create</button>
    </form>
</div>